
<div class="naama" *ngIf="title==64">
    <br>
   <p> ולפתע, זה קרה</p>
    <p>אחרי גלים אדירים</p>
    <p>ורוחות עזות</p>
    <p>הים נקרע</p>
    <p>מול עיננו המשתאות</p>
    <p>"מה הליכה ?! בואי לוורט"</p><br>

    <p>וזה היה את ,</p>
    <p>בשמלת תחרה כחולה</p>
    <p>ועינים זורחות</p>
    <p>ומסביב כולם מאושרים</p>
    <p>מרחפים בתחושת הודיה</p>
    <p>וסבתא מתרגשת</p>
    <p>מפרה כללי קורונה בני שנה</p><br>
    
    <p>וזה אמיתי !</p>
    <p>וזה את !</p>
    <p>וזה מדהים !</p>
    <p>כמה שחיכינו</p>
    <p>לזה הרגע</p>
    <p>תודה לאלוקים</p> <br>

    <p>ובזו העת</p>
    <p>רציתי לומר כמה מילים קטנות</p>
    <p>של הערכה</p>
    <p>לך,</p>
    <p>שכמעט לא שומעים מפיך תלונה</p>
    <p>כאילו כמעט ואין על מה</p>
    <p>רק ברמיזה וכמעט בהתנצלות</p>
    <p>חצי משפט וישר התגברות</p>
    <p>"לא הכול בסדר קצת עיפה"</p>
    <p>איזה כיף לחתנך שבך זכה</p>
    <p>ברכה גדולה בבית אשה שמחה</p><br>
    
    <p>ועוד נכתוב כאן</p>
    <p>כמה  מילות תחינה</p>
    <p>שיהיה זה הבית משכן לשכינה</p>
    <p>שיעמדו יציבים יסודותיו,</p>
    <p>אהבה שמחה ואושר</p>
    <p>בין קירותיו ,</p>
    <p>יהיה מלא בכל הברכות</p>
    <p>צאצאים שיחיו , פרנסה ובריאות</p>
    <p>ועם הכוחות שלך ושלו</p>
    <p>וביחד כוחות של שתיכם</p>
    <p>מלאו מלא חופנים חסידישע נחת</p>
    <p>את הדורות שמעליכם</p><br>
    <p>מעריכה</p>
    <p>מתרגשת</p>
    <p>ממני</p>
    <br> 
</div>

<div class="text" *ngIf="title==63">
    <br>
    <p>מזל טוב לבריינדי הכלה!</p>
    <p>בלונים</p>
    <p>שיהיה לך אור בבית</p>
    <p>שיהיו לך ילדים טובים</p>
    <p>בתיה</p>
</div>

<div class="text" *ngIf="title==62">
    <h4>בריינדי אהובתי</h4>
    <p>לאחל לך רציתי....</p>
    <p>לרגל 64 יום לחתונהההה</p>
</div>

<div class="text" *ngIf="title==61">
    <h4>בריינדי אהובתי</h4>
    <p>לאחל לך רציתי....</p>
    <p>לרגל 64 יום לחתונהההה</p>
    <p>לאחל לך רציתי....</p>
    <p>לרגל 64 יום לחתונהההה</p>
    <p>לאחל לך רציתי....</p>
    <p>לרגל 64 יום לחתונהההה</p>
</div>
<div class="text" *ngIf="title==60">
    <h4>בריינדי אהובתי</h4>
    <p>לאחל לך רציתי....</p>
    <p>לרגל 64 יום לחתונהההה</p>
</div>

<div class="text" *ngIf="title==59">
    <h4>בריינדי אהובתי</h4>
    <p>לאחל לך רציתי....</p>
    <p>לרגל 64 יום לחתונהההה</p>
</div>

<div class="text" *ngIf="title==58">
    <h4>בריינדי אהובתי</h4>
    <p>לאחל לך רציתי....</p>
    <p>לרגל 64 יום לחתונהההה</p>
</div>

<div class="text" *ngIf="title==57">
    <h4>בריינדי אהובתי</h4>
    <p>לאחל לך רציתי....</p>
    <p>לרגל 64 יום לחתונהההה</p>
</div>

<div class="text" *ngIf="title==56">
    <h4>בריינדי אהובתי</h4>
    <p>לאחל לך רציתי....</p>
    <p>לרגל 64 יום לחתונהההה</p>
</div>

<div class="text" *ngIf="title==55">
    <h4>בריינדי אהובתי</h4>
    <p>לאחל לך רציתי....</p>
    <p>לרגל 64 יום לחתונהההה</p>
</div>

<div class="text" *ngIf="title==54">
    <h4>בריינדי אהובתי</h4>
    <p>לאחל לך רציתי....</p>
    <p>לרגל 64 יום לחתונהההה</p>
</div>

<div class="text" *ngIf="title==53">
    <h4>בריינדי אהובתי</h4>
    <p>לאחל לך רציתי....</p>
    <p>לרגל 64 יום לחתונהההה</p>
</div>

<div class="text" *ngIf="title==52">
    <h4>בריינדי אהובתי</h4>
    <p>לאחל לך רציתי....</p>
    <p>לרגל 64 יום לחתונהההה</p>
</div>

<div class="text" *ngIf="title==51">
    <h4>בריינדי אהובתי</h4>
    <p>לאחל לך רציתי....</p>
    <p>לרגל 64 יום לחתונהההה</p>
</div>

<div class="text" *ngIf="title==50">
    <h4>בריינדי אהובתי</h4>
    <p>לאחל לך רציתי....</p>
    <p>לרגל 64 יום לחתונהההה</p>
</div>

<div class="text" *ngIf="title==49">
    <h4>בריינדי אהובתי</h4>
    <p>לאחל לך רציתי....</p>
    <p>לרגל 64 יום לחתונהההה</p>
</div>

<div class="text" *ngIf="title==48">
    <h4>בריינדי אהובתי</h4>
    <p>לאחל לך רציתי....</p>
    <p>לרגל 64 יום לחתונהההה</p>
</div>

<div class="text" *ngIf="title==47">
    <h4>בריינדי אהובתי</h4>
    <p>לאחל לך רציתי....</p>
    <p>לרגל 64 יום לחתונהההה</p>
</div>

<div class="text" *ngIf="title==46">
    <h4>בריינדי אהובתי</h4>
    <p>לאחל לך רציתי....</p>
    <p>לרגל 64 יום לחתונהההה</p>
</div>

<div class="text" *ngIf="title==45">
    <br>
    <p>מזל טוב לבריינדי הכלה!</p>
    <p>בלונים</p>
    <p>שיהיה לך אור בבית</p>
    <p>שתהיה לך מיטה נוחה</p>
    <p>שיהיו לך ילדים טובים</p>
    <p>בתיה</p>
</div>
<div class="text" *ngIf="title==44">
    <h4>בריינדי אהובתי</h4>
    <p>לאחל לך רציתי....</p>
    <p>לרגל 64 יום לחתונהההה</p>
</div>

<div class="text" *ngIf="title==43">
    <h4>בריינדי אהובתי</h4>
    <p>לאחל לך רציתי....</p>
    <p>לרגל 64 יום לחתונהההה</p>
</div>

<div class="text" *ngIf="title==42">
    <h4>בריינדי אהובתי</h4>
    <p>לאחל לך רציתי....</p>
    <p>לרגל 64 יום לחתונהההה</p>
</div>

<div class="text" *ngIf="title==41">
    <h4>בריינדי אהובתי</h4>
    <p>לאחל לך רציתי....</p>
    <p>לרגל 64 יום לחתונהההה</p>
</div>
<div class="text" *ngIf="title==40">
    <h4>בריינדי אהובתי</h4>
    <p>לאחל לך רציתי....</p>
    <p>לרגל 64 יום לחתונהההה</p>
</div>

<div class="text" *ngIf="title==39">
    <h4>בריינדי אהובתי</h4>
    <p>לאחל לך רציתי....</p>
    <p>לרגל 64 יום לחתונהההה</p>
</div>

<div class="text" *ngIf="title==38">
    <h4>בריינדי אהובתי</h4>
    <p>לאחל לך רציתי....</p>
    <p>לרגל 64 יום לחתונהההה</p>
</div>

<div class="text" *ngIf="title==37">
    <h4>בריינדי אהובתי</h4>
    <p>לאחל לך רציתי....</p>
    <p>לרגל 64 יום לחתונהההה</p>
</div>

<div class="text" *ngIf="title==36">
    <h4>בריינדי אהובתי</h4>
    <p>לאחל לך רציתי....</p>
    <p>לרגל 64 יום לחתונהההה</p>
</div>

<div class="text" *ngIf="title==35">
    <h4>בריינדי אהובתי</h4>
    <p>לאחל לך רציתי....</p>
    <p>לרגל 64 יום לחתונהההה</p>
</div>

<div class="text" *ngIf="title==34">
    <h4>בריינדי אהובתי</h4>
    <p>לאחל לך רציתי....</p>
    <p>לרגל 64 יום לחתונהההה</p>
</div>

<div class="text" *ngIf="title==33">
    <h4>בריינדי אהובתי</h4>
    <p>לאחל לך רציתי....</p>
    <p>לרגל 64 יום לחתונהההה</p>
</div>

<div class="text" *ngIf="title==32">
    <h4>בריינדי אהובתי</h4>
    <p>לאחל לך רציתי....</p>
    <p>לרגל 64 יום לחתונהההה</p>
</div>

<div class="text" *ngIf="title==31">
    <h4>בריינדי אהובתי</h4>
    <p>לאחל לך רציתי....</p>
    <p>לרגל 64 יום לחתונהההה</p>
</div>

<div class="text" *ngIf="title==30">
    <h4>בריינדי אהובתי</h4>
    <p>לאחל לך רציתי....</p>
    <p>לרגל 64 יום לחתונהההה</p>
</div>

<div class="text" *ngIf="title==29">
    <h4>בריינדי אהובתי</h4>
    <p>לאחל לך רציתי....</p>
    <p>לרגל 64 יום לחתונהההה</p>
</div>

<div class="text" *ngIf="title==28">
    <h2>בריינדי</h2>
    <p>אני רוצה לברך אותך</p>
    <p>שיהיה לך ילדים צדיקים וחכמים</p>
    <p>"יברכך ה' וישמרך</p>
    <p>יאר ה' פניו אליך ויחנך</p>
    <p>ישא ה' פניו אליך וישם לך שלום"</p>
    <p class="mazaltov">מזל טוב!</p>
    <p>מאחיין שלך שאוהב אותך - שימי שרייבר</p>
    <br>
</div>

<div class="text" *ngIf="title==27">
    <h4>בריינדי אהובתי</h4>
    <p>לאחל לך רציתי....</p>
    <p>לרגל 64 יום לחתונהההה</p>
</div>

<div class="text" *ngIf="title==26">
    <h4>בריינדי אהובתי</h4>
    <p>לאחל לך רציתי....</p>
    <p>לרגל 64 יום לחתונהההה</p>
</div>

<div class="text" *ngIf="title==25">
    <h4>בריינדי אהובתי</h4>
    <p>לאחל לך רציתי....</p>
    <p>לרגל 64 יום לחתונהההה</p>
</div>
<div class="text" *ngIf="title==24">
    <h4>בריינדי אהובתי</h4>
    <p>לאחל לך רציתי....</p>
    <p>לרגל 64 יום לחתונהההה</p>
</div>

<div class="text" *ngIf="title==23">
    <h4>בריינדי אהובתי</h4>
    <p>לאחל לך רציתי....</p>
    <p>לרגל 64 יום לחתונהההה</p>
</div>

<div class="text" *ngIf="title==22">
    <h4>בריינדי אהובתי</h4>
    <p>לאחל לך רציתי....</p>
    <p>לרגל 64 יום לחתונהההה</p>
</div>

<div class="text" *ngIf="title==21">
    <h4>בריינדי אהובתי</h4>
    <p>לאחל לך רציתי....</p>
    <p>לרגל 64 יום לחתונהההה</p>
</div>
<div class="text" *ngIf="title==20">
    <h4>בריינדי אהובתי</h4>
    <p>לאחל לך רציתי....</p>
    <p>לרגל 64 יום לחתונהההה</p>
</div>

<div class="text" *ngIf="title==19">
    <h4>בריינדי אהובתי</h4>
    <p>לאחל לך רציתי....</p>
    <p>לרגל 64 יום לחתונהההה</p>
</div>

<div class="text" *ngIf="title==18">
    <h4>בריינדי אהובתי</h4>
    <p>לאחל לך רציתי....</p>
    <p>לרגל 64 יום לחתונהההה</p>
</div>

<div class="text" *ngIf="title==17">
    <h4>בריינדי אהובתי</h4>
    <p>לאחל לך רציתי....</p>
    <p>לרגל 64 יום לחתונהההה</p>
</div>

<div class="text" *ngIf="title==16">
    <h4>בריינדי אהובתי</h4>
    <p>לאחל לך רציתי....</p>
    <p>לרגל 64 יום לחתונהההה</p>
</div>

<div class="text" *ngIf="title==15">
    <h4>בריינדי אהובתי</h4>
    <p>לאחל לך רציתי....</p>
    <p>לרגל 64 יום לחתונהההה</p>
</div>

<div class="text" *ngIf="title==14">
    <h4>בריינדי אהובתי</h4>
    <p>לאחל לך רציתי....</p>
    <p>לרגל 64 יום לחתונהההה</p>
</div>

<div class="text" *ngIf="title==13">
    <h4>בריינדי אהובתי</h4>
    <p>לאחל לך רציתי....</p>
    <p>לרגל 64 יום לחתונהההה</p>
</div>

<div class="text" *ngIf="title==12">
    <h4>בריינדי אהובתי</h4>
    <p>לאחל לך רציתי....</p>
    <p>לרגל 64 יום לחתונהההה</p>
</div>

<div class="text" *ngIf="title==11">
    <h4>בריינדי אהובתי</h4>
    <p>לאחל לך רציתי....</p>
    <p>לרגל 64 יום לחתונהההה</p>
</div>

<div class="text" *ngIf="title==10">
    <h4>בריינדי אהובתי</h4>
    <p>לאחל לך רציתי....</p>
    <p>לרגל 64 יום לחתונהההה</p>
</div>

<div class="text" *ngIf="title==9">
    <h4>בריינדי אהובתי</h4>
    <p>לאחל לך רציתי....</p>
    <p>לרגל 64 יום לחתונהההה</p>
</div>

<div class="text" *ngIf="title==8">
    <h4>בריינדי אהובתי</h4>
    <p>לאחל לך רציתי....</p>
    <p>לרגל 64 יום לחתונהההה</p>
</div>

<div class="text" *ngIf="title==7">
    <br>
    <h4>מזל טוב!</h4>
    <p>בשבעה הימים האחרונים לחתונה,</p>
    <p>ברצוני לאחל לך,</p>
    <p>שתזכי לבנות בית נאמן בישראל.</p>
    <p>בניי חיי ומזוני רווחי</p>
    <p>שמעי</p>
</div>

<div class="text" *ngIf="title==6">
    <h4>בריינדי אהובתי</h4>
    <p>לאחל לך רציתי....</p>
    <p>לרגל 64 יום לחתונהההה</p>
</div>

<div class="text" *ngIf="title==5">
    <h4>בריינדי אהובתי</h4>
    <p>לאחל לך רציתי....</p>
    <p>לרגל 64 יום לחתונהההה</p>
</div>
<div class="text" *ngIf="title==4">
    <h4>בריינדי אהובתי</h4>
    <p>לאחל לך רציתי....</p>
    <p>לרגל 64 יום לחתונהההה</p>
</div>

<div class="text" *ngIf="title==3">
    <h4>בריינדי אהובתי</h4>
    <p>לאחל לך רציתי....</p>
    <p>לרגל 64 יום לחתונהההה</p>
</div>

<div class="text" *ngIf="title==2">
    <h4>בריינדי אהובתי</h4>
    <p>לאחל לך רציתי....</p>
    <p>לרגל 64 יום לחתונהההה</p>
</div>

<div class="text" *ngIf="title==1">
    <h4>בריינדי אהובתי</h4>
    <p>לאחל לך רציתי....</p>
    <p>לרגל 64 יום לחתונהההה</p>
</div>
