
<div class="text" *ngIf="title==64">
  <img src="../../assets/נעמה.png" width="100%">
</div>

<div class="text" *ngIf="title==63">
    <img src="../../assets/ישעיה שמירה שונה קצת.png" width="100%">
</div>

<div class="text" *ngIf="title==62">
  <img src="../../assets/אריה.png" width="100%">
</div>

<div class="text" *ngIf="title==61">
   <img src="../../assets/ישעיה שמירה שונה קצת.png" width="100%">
</div>
<div class="text" *ngIf="title==60">
    <img src="../../assets/רחלי גרינהויז.png" width="100%">
</div>

<div class="text" *ngIf="title==59">
    <img src="../../assets/בתיה.png" width="100%">
</div>

<div class="text" *ngIf="title==58">
   <img src="../../assets/הינדית.png" width="100%">
</div>

<div class="text" *ngIf="title==57">
    <img src="../../assets/שרהלה.png" width="100%">
</div>

<div class="text" *ngIf="title==56">
    <img src="../../assets/יהודית גולדשטיין.png" width="100%">
</div>

<div class="text" *ngIf="title==55">
    <img src="../../assets/יהודית גולדשטיין1.png" width="100%">
</div>

<div class="text" *ngIf="title==54">
    <img src="../../assets/אסתי דייטש.png" width="100%">
</div>

<div class="text" *ngIf="title==53">
    <img src="../../assets/מוריה.png" width="100%">
</div>

<div class="text" *ngIf="title==52">
    <img src="../../assets/רבקי.png" width="100%">
</div>

<div class="text" *ngIf="title==51">
  <img src="../../assets/רבקי.png" width="100%">
</div>

<div class="text" *ngIf="title==50">
    <img src="../../assets/ברייני.png" width="100%">
</div>

<div class="text" *ngIf="title==49">
    <img src="../../assets/ברייני.png" width="100%">
</div>

<div class="text" *ngIf="title==48">
  <img src="../../assets/נחמי.png" width="100%">   
</div>

<div class="text" *ngIf="title==47">
    <h4>תרענני!</h4>
</div>

<div class="text" *ngIf="title==46">
    <h4>תרענני!</h4>
</div>

<div class="text" *ngIf="title==45">
    <h4>תרענני!</h4>
</div>
<div class="text" *ngIf="title==44">
    <h4>תרענני!</h4>
</div>

<div class="text" *ngIf="title==43">
    <h4>תרענני!</h4>
</div>

<div class="text" *ngIf="title==42">
    <h4>תרענני!</h4>
</div>

<div class="text" *ngIf="title==41">
  <h4>תרענני!</h4>
</div>
<div class="text" *ngIf="title==40">
    <h4>תרענני!</h4>
</div>

<div class="text" *ngIf="title==39">
    <h4>תרענני!</h4>
</div>

<div class="text" *ngIf="title==38">
    <h4>תרענני!</h4>
</div>

<div class="naama" *ngIf="title==37">
    <h4>תרענני!</h4>
</div>

<div class="text" *ngIf="title==36">
    <h4>תרענני!</h4>
</div>

<div class="text" *ngIf="title==35">
    <h4>תרענני!</h4>
</div>

<div class="text" *ngIf="title==34">
    <h4>תרענני!</h4>
</div>

<div class="text" *ngIf="title==33">
    <h4>תרענני!</h4>
</div>

<div class="text" *ngIf="title==32">
    <h4>תרענני!</h4>
</div>

<div class="text" *ngIf="title==31">
    <h4>תרענני!</h4>
</div>

<div class="text" *ngIf="title==30">
   <h4>תרענני!</h4>
</div>

<div class="text" *ngIf="title==29">
    <h4>תרענני!</h4>
</div>

<div class="text" *ngIf="title==28">
    <h4>תרענני!</h4>
    <br>
</div>

<div class="text" *ngIf="title==27">
    <h4>תרענני!</h4>
</div>

<div class="text" *ngIf="title==26">
    <h4>תרענני!</h4>
</div>

<div class="text" *ngIf="title==25">
    <h4>תרענני!</h4>
</div>
<div class="text" *ngIf="title==24">
    <h4>תרענני!</h4>
</div>

<div class="text" *ngIf="title==23">
    <h4>תרענני!</h4>
</div>

<div class="text" *ngIf="title==22">
    <h4>תרענני!</h4>
</div>

<div class="text" *ngIf="title==21">
    <h4>תרענני!</h4>
</div>
<div class="text" *ngIf="title==20">
    <h4>תרענני!</h4>
</div>

<div class="text" *ngIf="title==19">
    <h4>תרענני!</h4>
</div>

<div class="text" *ngIf="title==18">
   <h4>תרענני!</h4>
</div>

<div class="text" *ngIf="title==17">
    <h4>תרענני!</h4>
</div>

<div class="text" *ngIf="title==16">
    <h4>תרענני!</h4>
</div>

<div class="text" *ngIf="title==15">
    <h4>תרענני!</h4>
</div>

<div class="text" *ngIf="title==14">
    <h4>תרענני!</h4>
</div>

<div class="text" *ngIf="title==13">
    <h4>תרענני!</h4>
</div>

<div class="text" *ngIf="title==12">
    <h4>תרענני!</h4>
</div>

<div class="text" *ngIf="title==11">
    <h4>תרענני!</h4>
</div>

<div class="text" *ngIf="title==10">
    <h4>תרענני!</h4>
</div>

<div class="text" *ngIf="title==9">
    <h4>תרענני!</h4>
</div>

<div class="text" *ngIf="title==8">
    <h4>תרענני!</h4>
</div>

<div class="text" *ngIf="title==7">
    <h4>תרענני!</h4>
</div>

<div class="text" *ngIf="title==6">
    <h4>תרענני!</h4>
</div>

<div class="text" *ngIf="title==5">
    <h4>תרענני!</h4>
</div>
<div class="text" *ngIf="title==4">
    <h4>תרענני!</h4>
</div>

<div class="text" *ngIf="title==3">
    <h4>תרענני!</h4>
</div>

<div class="text" *ngIf="title==2">
    <h4>תרענני!</h4>
</div>

<div class="text" *ngIf="title==1">
    <h4>תרענני!</h4>
</div>
