<div class="all">
    <div class="mazal text">מזל</div>
    <div class="good text">טוב</div>
    <!-- <div class="board" *ngFor="let q of array; let i=index">
        <div class="inline" *ngFor="let w of array; let j=index">
            <div class="white squar">
                <div *ngIf="i==0 && j==0">
                    <img class="solider" src="../../../assets/מלכה לבנה.jpeg" (click)="open()">
                </div>
            </div>
            <div class="black squar"></div>
        </div><br>
        <div class="inline" *ngFor="let w of array; let j=index">
            <div class="black squar"></div>
            <div class="white squar">
                <div *ngIf="i==3 && j==3">
                    <img class="solider" src="../../../assets/מלך שחור.jpeg" tooltip=" 😜!אני מחכה לך כאן">
                </div>
            </div>
        </div>
    </div> -->
    <div class="board" *ngFor="let a of array; let i=index">
        <div *ngFor="let f of firstArray; let j=index" class="inline">
            <div class="squar" [ngClass]="{'white': f.color=='white', 'black': f.color=='black'}">
                <span *ngIf="i==0" class="numbers">{{f.number}}</span>
                <span *ngIf="i==1" class="numbers">{{f.number+16}}</span>
                <span *ngIf="i==2" class="numbers">{{f.number+32}}</span>
                <span *ngIf="i==3" class="numbers">{{f.number+48}}</span>
                <img *ngIf="i==0 &&j==0" [ngClass]="{weddingCanopy: days == 1, canopy: days > 1}"
                    src="../../assets/חופה.png">
                <img *ngIf="i==0 && j==0" class="solider king" src="../../assets/מלך שחור.png"
                    tooltip="😜!אני מחכה לך כאן">
                <img *ngIf="f.number==days && i==0 || f.number+16==days && i==1 || f.number+32==days && i==2 || f.number+48==days && i==3"
                    class="solider" [ngClass]="{king: days==1}" src="../../assets/מלכה לבנה.png" tooltip="כלה"
                    (click)="theTask? open(): past(task, 'task')">
                <img *ngIf="f.number > days && i == 0 || f.number+16>days && i==1 || f.number+32>days && i==2 || f.number+48>days && i==3" class="footprint" src="../../assets/טביעת רגל.png" (click)="past(template, 'past')">

            </div>
        </div><br>
        <div *ngFor="let s of secondArray; let j=index" class="inline">
            <div class="squar" [ngClass]="{'white': s.color=='white', 'black': s.color=='black'}">
                <span *ngIf="i==0" class="numbers">{{s.number}}</span>
                <span *ngIf="i==1" class="numbers">{{s.number+16}}</span>
                <span *ngIf="i==2" class="numbers">{{s.number+32}}</span>
                <span *ngIf="i==3" class="numbers">{{s.number+48}}</span>
                <img *ngIf="s.number == days && i == 0 || s.number+16==days && i==1 || s.number+32==days && i==2 || s.number+48==days && i==3"
                    class="solider" src="../../assets/מלכה לבנה.png" tooltip="כלה" (click)="theTask? open(): past(task, 'task')">
                <img *ngIf="s.number > days && i == 0 || s.number+16>days && i==1 || s.number+32>days && i==2 || s.number+48>days && i==3" class="footprint" src="../../assets/טביעת רגל.png" (click)="past(template, 'past')">
            </div>
        </div>
    </div>
    <br>
</div>

<!-- Modal past -->

    <ng-template #template>
        <div class="modalPast">
          יום שעובר - שוב אינו חוזר!!
        </div>
    </ng-template>
  
<!-- Modal task -->
<ng-template #task>
    <div class="modals">
        <br>
        <p id="headTask">כתבי מטלה שבצעת היום למען הנישואין</p><br><br>
        <form [formGroup]="taskForm" (ngSubmit)="open()">
            <input type="text" formControlName="task" [(ngModel)]="theTask" placeholder="נו נו? מה עשית??"><br><br>
            <button type="submit" class="close pull-left" aria-label="Close">
                <span aria-hidden="true">בצעתי</span>
            </button>
        </form>
    </div>
</ng-template>





<div class="second">
    <h1 data-text="Break the glass"><span>Break the glass</span></h1><br><br><br>
    <div class="secondFont"><br>
        <h2 class="title">עוד {{days}} יום זה קורה!</h2>
        <p>הוא בשחור, את בלבן</p>
        <p class="twice">ושניכם</p>
        <p class="win">המנצחים</p><br><br><br>
        <p class="names">Yechiel & Braindy</p>
        <!-- <p>{{currentTime | date:'HH:mm:ss'}}</p> -->
        <div class="rings">
            <div class="ringText">
                <img class="ring" src="../../assets/טבעת בלי השתקפות.png">
                <p class="stayText">{{days}}</p><br>
                <p>ימים</p>
            </div>
            <!-- <div>
                <img class="ring" src="../../assets/טבעת.png">
                <p class="stayText">{{weeks}}</p><br>
                <p>שבועות</p>
            </div> -->
            <div class="ringText">
                <img class="ring" src="../../assets/טבעת בלי השתקפות.png">
                <p class="stayText">{{hours}}</p><br>
                <p>שעות</p>
            </div>
            <div class="ringText">
                <img class="ring" src="../../assets/טבעת בלי השתקפות.png">
                <p class="stayText">{{minutes}}</p><br>
                <p>דקות</p>
            </div>
            <div class="ringText">
                <img class="ring" src="../../assets/טבעת בלי השתקפות.png">
                <p class="stayText">{{seconds}}</p><br>
                <p>שניות</p>
            </div>
        </div><br>
        <div class="dates">
            <p >י"ב בתמוז תשפ"א  |</p>
            <p class="dates">22.06.2021</p>
        </div>
        <p class="save_the_date">Save the date</p>
        
        
        
        
        
        <!-- <p dir="ltr">{{days}} : {{weeks}} : {{hours}} : {{minutes}} : {{seconds}}</p> -->
    </div>
    <img class="Shtriymel" src="../../assets/שטריימל.png">
    <img class="secondSoliderB" src="../../assets/מלך חתן.png">
    <img class="secondSoliderW" src="../../assets/מלכה כלה.png">

</div>
